

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;


}


h2 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


h3 {

    font-family: Courier New, Courier, cursive;
}
